
.game{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* game_content */

.game_content{
    width: 72%;
}

@media screen and (max-width: 1200px) {

    .game_content{
        width: 100%;
    }
}