
.parent{
    width: 100%;
    height: 100vh;
    background: #F8F8F8;
    top: 0;
    z-index: 10;
    overflow-y: scroll;
    left: 0;
    position: fixed;
}

.parent_container{
    position: absolute;
    width: 50%;
    left: 25%;
}

.parent_container_header{
    margin-top: 30px;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ABABAB;
}

.parent_container_footer{
    width: 95%;
    margin-top: 25px;
    margin: 0 auto;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    padding: 25px;
}

.parent_container_footer h3{
    text-align: center;
    color:#353535;
    margin: 0px;
}

.parent_container_footer_inner{
    text-align: center;
    margin: 20px 0;
}

.parent_container_footer_inner img{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.parent_container_footer_inner a{
    text-decoration: none;
    color:#353535;
    font-weight: 500;
}

.parent_container_footer_inner p{
    margin: 0px;
    margin-top: 4px;
    color:rgba(0, 0, 0, 0.51);
    font-size: 15px;
}

@media screen and (max-width: 900px){
    
    .parent_container{
        width: 70%;
        left: 15%;
    }
}

@media screen and (max-width: 600px){
    
    .parent_container{
        width: 85%;
        left: 7.5%;
    }
}

@media screen and (max-width: 450px){
    
    .parent_container{
        width: 95%;
        left: 2.5%;
    }
}