
.content{
    width: 78%;
}

@media screen and (max-width: 1150px){
    
    .content{
        width: 72%;
    }
}

@media screen and (max-width: 900px){
    
    .content{
        width: 100%;
    }
}