
.more_btn{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    justify-content: space-between;
    width: 110px;
}

.more_btn svg{
    font-size: 12px;
}

@media screen and (max-width: 500px){

    .more_btn{
        font-size: 13px;
        width: 100px;
    }
}

@media screen and (max-width: 400px){

    .more_btn{
        font-size: 12px;
        width: 90px;
    }
}

@media screen and (max-width: 380px){

    .more_btn{
        font-size: 11px;
        width: 85px;
    }
}