
.hero_invent{
    width: 95%;
    margin: 0 auto;
    padding-top: 20px;
}

/* play */

.play{
    background: #032030;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
}

.play_active{
    border: 1px solid #C8C8C8;
    background: white;
}

.play_body{
    width: 100%;
}

.play_body_wrapper{
    width: 50%;
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.play_body_wrapper span{
    /* background: #5158FF; */
    position: relative;
    width: 25px;
    display: flex;
    height: 22px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 13px;
    color: white;
    border-radius: 2px; 
}

.play_body_wrapper span::before{
    content: '';
    width: 27px;
    top: -2px;
    border-radius: 2px;
    border: 1px solid grey;
    position: absolute;
    height: 24px;
    left: -2px;
}

.play_body_wrapper div{
    width: 32%;
    background: #7A7A7A;
    height: 1px;
}

.play_body_title{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 16px;
}

.play_body_title_active{
    color: #353535;
}

.play_footer{
    background: #06324A;
    box-sizing: border-box;
    display: flex;
    padding: 13px 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.play_footer_active{
    border-top: 1px solid #C8C8C8;
    background: #F5F5F5;
}

.play_footer_active span{
    color: black !important;
}

.play_body_button{
    margin-bottom: 25px;
}

.play_body_button button{
    border: 1px solid #084A6D;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    width: 300px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    background: none;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.play_body_button_light button:hover{
    border: 1px solid #5158FF !important;
}

.play_body_button_light button:active{
    border: 1px solid #0D13A7 !important;
}

.active_span::before{
    border: 1px solid #5158FF !important;
}

.active_span{
    color: white !important;
    background: #5158FF !important;
}

.play_body_button button img{
    margin-right: 10px;
}

.play_footer span{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: white;
}

.play_footer span img{
    margin-right: 9px;
}

.play_footer div a{
    color:#5158FF;
    margin-left: 20px;
    font-weight: 700;
    font-size: 12px;
}

/* hero_list_body_inner */

.hero_list_body_inner{
    width: 100%;
    display: flex;
    background:#032030;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 3px 0;
    padding-top: 0px;
    margin-bottom: 20px;
}

/* hero_list_body_inner_header */

.hero_list_body_inner_header{
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 15px;
}

.hero_list_body_inner_header span{
    background: #1BC2A4;
    font-size: 10px;
    color: white;
    display: flex;
    width: 80px;
    padding: 5px 0;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.hero_list_body_inner_header span img{
    margin-right: 4px;
    width: 15px;
    margin-top: 0px;
}

.hero_list_body_inner_header img{
    width: 65px;
    margin-top: 5px;
}

/* hero_list_body_inner_wrapper */

.hero_list_body_inner_wrapper{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_list_body_inner_wrapper_upper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.hero_list_body_inner_wrapper_upper img{
    width: 37px;
}

/* hero_list_body_inner_wrapper_lower */

.hero_list_body_inner_wrapper_lower{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hero_list_body_inner_wrapper_lower div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: white;
    font-weight: 500;
}

.hero_list_body_inner_wrapper_lower div span{
    border-radius: 5px;
    background:#002D47;
    margin-right: 7px;
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    justify-content: center;
}

.hero_list_body_inner_wrapper_lower_alt div{
    color: black !important ;
}

.hero_list_body_inner_wrapper_lower_alt div span{
    background: #EBEBEB !important;
}

/* hero_list_body_inner_wrapper_footer */

.hero_list_body_inner_wrapper_footer{
    width: 25%;
    display: flex;
    margin-right: 13px;
    flex-direction: column;
    align-items: flex-end;
}

@media screen and (max-width: 500px){

    .hero_list_body_inner_wrapper_upper img{
        width: 30px;
    }

    .hero_list_body_inner_header{
        margin-left: 5px;
    }

    .hero_list_body_inner_wrapper_lower div{
        flex-direction: column;
        margin-right: 15px;
    }

    .hero_list_body_inner_wrapper_lower{
        justify-content: flex-start;
    }
    
    .hero_list_body_inner_header span{
        font-size: 9px;
        width: 70px;
    }
}

@media screen and (max-width: 450px){

    .hero_list_body_inner_wrapper_lower div{
        font-size: 13px;
    }

    .hero_list_body_inner_wrapper_upper img{
        width: 27px;
    }

    .hero_list_body_inner_wrapper_lower div{
        margin-right: 10px;
    }

    .hero_list{
        width: 95%;
        margin: 0 auto ;
    }
}

@media screen and (max-width: 400px){

    .hero_list_body_inner_wrapper_lower div{
        margin-right: 5px;
    }

    .hero_list_body_inner_wrapper_upper img{
        width: 25px;
    }
}

@media screen and (max-width: 380px){

    .hero_list_body_inner_wrapper_upper img{
        width: 23px;
    }
}

