

.title{
    font-size: 25px;
    font-weight: 600;
    display: none;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 20px;
}

@media screen and (max-width: 500px){
    
    .title{
        display: flex;
        padding-left: 20px;
    }
}